<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <app-top-bar></app-top-bar>


  <mat-card>
    <mat-card-title> Title </mat-card-title>
    <mat-card-subtitle> Card subtitle </mat-card-subtitle>
    <mat-card-content> Primary card content. Intended for blocks of text </mat-card-content>
    <img mat-card-image>
    <mat-card-actions> Container for buttons at the bottom of the card </mat-card-actions>
    <mat-card-footer> Foo </mat-card-footer>
  </mat-card>

  <router-outlet></router-outlet>
</div>