<div class="event-stream-container content-spacing" fxLayout="column" fxLayoutAlign="center center">

    <header>
        Title
    </header>
    <div class="event-list">
        <div class="event-item content-spacing">Born in 1990</div>
        <div class="event-item content-spacing">Started school in 1997</div>
        <div class="event-item content-spacing">Item 1</div>
        <div class="event-item content-spacing">Item 1</div>
        <div class="event-item content-spacing">Item 1</div>
        <div class="event-item content-spacing">Item 1</div>
    </div>
    

</div>