<div class="full-scr-container"  fxLayout="column" fxLayoutAlign="space-between stretch" >
    <header class="content-spacing" fxLayout="row" fxLayoutAlign="space-between start">
        <div  fxLayout="column" fxLayoutAlign="start start">
            <h1 class="clr-dark">Serhii Lukavenko</h1>
            <h2 class="clr-dark"> Software Engineer</h2>
        </div>

        <div fxLayout="column" fxLayoutAlign="end start">
            <div class="avatar hover-zoom"></div>
        </div>

    </header>

    

    <footer class="content-spacing" fxLayout="row" fxLayoutAlign="space-between end">
        <div class="hover-zoom-1">
            <app-event-stream-widget></app-event-stream-widget>
        </div>
        <div></div>
        <nav class="main-nav" fxLayout="column" fxLayoutAlign="start start" >
            <div class="menu-item">Home</div>
            <div class="menu-item">Stream</div>
            <div class="menu-item">Skils</div>
            <div class="menu-item"> Projects</div>
            <div class="menu-item">Blog</div>
            <div class="menu-item">About</div>
            <div class="menu-item">Contacts</div>
        </nav>

    </footer>

</div>