<div fxLayout="row" fxLayoutAlign="space-around center">
     
    <div routerLink="/home"
         fxLayout="column" fxLayoutAlign="center center" 
         class="nav-bar-btn color-accent-1">
        <i class="material-icons icon-a--animating">
            accessibility
        </i>

        <div>Home</div>
    </div>
    <div routerLink="/history"
         fxLayout="column" fxLayoutAlign="center center" 
         class="nav-bar-btn color-accent-2">
        <i class="material-icons">
            perm_identity
        </i>

        <div>Life Events</div>
    </div>
    <div routerLink="/projects" 
        fxLayout="column" fxLayoutAlign="center center"
        class="nav-bar-btn color-accent-1">
        <i class="material-icons">
            visibility
        </i>

        <div>About Me</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" 
            class="nav-bar-btn color-accent-2"> 
        <i class="material-icons">
            fingerprint
        </i>
        
        <div>Projects</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="nav-bar-btn color-accent-1">
        <i class="material-icons">
            fingerprint
        </i>

        <div>Skils</div>
    </div>
    <div routerLink="/blog"
    fxLayout="column" fxLayoutAlign="center center" class="nav-bar-btn color-accent-2">
        <i class="material-icons">
            fingerprint
        </i>

        <div>Contacts</div>
    </div>
    <div routerLink="/contact-information"
         fxLayout="column" fxLayoutAlign="center center" 
         class="nav-bar-btn color-accent-1">
        <i class="material-icons">
            fingerprint
        </i>

        <div>Admin</div>
    </div>
</div>
